*.[oa]
*.orig
*.out
s.out
lex.c
s_compiler/parser.c
s_compiler/parser.h
prova
SOL_compiler/*
SOL_compilers/*
scompiler
SOL_machine/*
s_machine/formatted_parser.h
s_machine/formatted_lexer.c

*.out

smachine

s_machine/format_parser.h

s_machine/format_parser.c

s_machine/format_lexer.c

pippo.txt

pippo.ff

s_machine/formatted_parser.c

s_machine/formatted_lexer.c

s_machine/formatted_lexer.c

scompiler
